.elementor-widget-tabs {

	.elementor-tabs {
		.elementor-tabs-wrapper{

			.elementor-tab-title{
				@include transaction( all, 0.3s, linear );
				display: flex;
				align-items:center;
				padding: 30px 20px 30px 40px;
    			margin: 0px 0px 1px 0px;
				font-size: 20px;
			    line-height: 2em;
			    font-weight: 500;
			    color: var(--heading);
			    background-color: #f3f3f3;

			    @media(max-width: 1024px){
				    font-size: inherit;
				    line-height: inherit;
				    padding-left: 30px;	
				}

				&:hover{
					@include transaction( all, 0.3s, linear );
					box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.07);
					background-color: #fff;
					border-color: var(--primary);
					color: var(--primary);

					.ova-tab-icon{
						@include transaction( all, 0.3s, linear );
						background: var(--primary);
						color: var(--primary);

						i{
							@include transaction( all, 0.3s, linear );
							color: #fff;
						}
					}
				}

				.ova-tab-icon{
					@include transaction( all, 0.3s, linear );
					display: inline-flex;
					min-width: 29px;
				    height: 29px;
				    justify-content: center;
				    align-items: center;
				    color: var(--heading);
				    background: #fff;
				    border-radius: 50%;
				    margin: 0 20px 0 0;

					i{
						@include transaction( all, 0.3s, linear );
						font-size: 12px;
						color: var(--primary);
						z-index: 1;
					}
				}

				.right{
					display: inline-block;
					margin: 0 5px 0 0;
				}

				&.elementor-active{
					@include transaction( all, 0.3s, linear );
					color: var(--primary);
    				background-color: #fff;
    				border-color: var(--primary);
					box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.07);

					.ova-tab-icon{
						@include transaction( all, 0.3s, linear );
						background: var(--primary);

						i{
							color: #fff;
						}
					}
				}
			}
		}

		.elementor-tabs-content-wrapper {
			> .elementor-tab-mobile-title {
				@include transaction( all, 0.3s, linear );
				padding: 20px;
    			margin: 0px 0px 1px 0px;
				font-weight: 600;
				color: var(--heading);
			    background-color: #f3f3f3;

				&:hover{
					@include transaction( all, 0.3s, linear );
					box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.07);
					color: var(--primary);
					background-color: #fff;

					.ova-tab-icon{
						@include transaction( all, 0.3s, linear );
						background: var(--primary);

						i{
							@include transaction( all, 0.3s, linear );
							color: #fff;
						}
					}
				}

				.left{
					display: inline-block;
					vertical-align: middle;
				}

				.ova-tab-icon{
					@include transaction( all, 0.3s, linear );
					display: inline-flex;
					min-width: 29px;
				    height: 29px;
				    justify-content: center;
				    align-items: center;
				    background: #fff;
				    border-radius: 50%;
				    margin: 0 20px 0 0;

					i{
						@include transaction( all, 0.3s, linear );
						font-size: 12px;
						color: var(--primary);
						margin-right: -1px;
						z-index: 1;
					}
				}

				&.elementor-active{
					@include transaction( all, 0.3s, linear );
					color: var(--primary);
    				background-color: #fff;
    				border-color: var(--primary);
					box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.07);

					.ova-tab-icon{
						@include transaction( all, 0.3s, linear );
						background: var(--primary);

						i{
							color: #fff;
						}
					}
				}

				&:before {
					font-size: 14px;
					float: right;
					content: "\f199";
					font-family: ovaicon !important;
				    font-style: normal;
				    font-weight: normal !important;
				    font-variant: normal;
				    text-transform: none;
				    line-height: inherit;
				    -webkit-font-smoothing: antialiased;
				    -moz-osx-font-smoothing: grayscale;
				}

				&.elementor-active {
					&:before {
						content: "\f19b";
					}
				}
			}

			> .elementor-tab-content{
				padding: 0;
			}
		}
	}
}